<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Film Koleksiyonu</title>
</head>
<body>

    <div class="container" style="background-color: #14181C;">

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" th:href="@{/film/list}">Film Koleksiyonu</a>
            <a  sec:authorize="hasAnyRole('ROLE_ADMIN')" class="btn btn-danger" th:href="@{/film/showFormFilmEkle}">Film Ekle</a>

            <!--                Search-->
                <form class="form-inline my-2 mx-md-auto" th:action="@{/film/search}" method="get" >
                    <input class="form-control mr-sm-2" type="search" placeholder="Film ara..." aria-label="Search" name="filmName">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Ara</button>
                </form>
                <br>
                <!--            logout-->
                <form action="#" th:action="@{/logout}" method="POST" class="form-inline my-2 my-lg-0">
                    <input type="submit" value="Çıkış Yap" class="btn btn-outline-primary mr-sm-2" />
                </form>
        </nav>

        <!--        FILM LIST-->
        <div class="row product-list">
            <div class="col-md-3 filmBox" th:each="film, index : ${filmPage}" style="background-color: #333536;
                                                                              border: 1.5px solid #445566; padding: 5px;
                                                                              margin: 45px; filter: drop-shadow(0 0 0.75rem crimson);">
                <section class="panel">
                    <div class="pro-img-box panel-body text-center" style="justify-content: center;">
                        <a  th:href="@{/film/incele(filmId=${film.id})}">
                            <img th:src="@{/images/film.jpg}" alt="image_not_found" style="width: 50%"/>
                        </a>
                    </div>
                    <div class="panel-body text-center">
                        <a  th:href="@{/film/incele(filmId=${film.id})}">
                            <p class="price" th:text="${film.isim}" style="color: white; margin: 10px"></p>
                        </a>
                        <a class="btn btn-outline-danger btn-sm" th:href="@{/film/incele(filmId=${film.id})}">İncele</a>
                        <a sec:authorize="hasRole('ROLE_ADMIN')"
                           th:href="@{/film/deleteFilm(filmId=${film.id}, page=${param.page})}"
                           class="buttons btn btn-danger"
                           onclick="if (!(confirm('Bu filmi silmek istiyor musun?'))) return false">
                            Sil
                        </a>
                    </div>
                </section>
            </div>
        </div>
<!--            FILM LISTESI -->

<!--            PAGINATION -->
            <div class="container pagination justify-content-center" style="margin-top: 50px !important; margin-bottom: 30px !important">
                <nav aria-label="...">
                    <ul class="pagination">
                        <li  th:each="pageNumber : ${pageNumbers}"
                            th:if="${filmPage.totalPages > 0}" class="pagination page-item">
                            <a
                                th:style="${filmPage.getNumber+1 == pageNumber} ? 'background-color: #333536'"
                               th:href="@{/film/list(size=${filmPage.size}, page=${pageNumber})}"
                               th:text="${pageNumber}"
                               class="page-link"
                            > <span class="page-link">1</span></a>
                        </li>
                    </ul>
                </nav>
            </div>
<!--            PAGINATION-->

            <!--            FOOTER-->
            <div class="container ">
                <div class="card">
                    <div class="card-header">
                        Quote
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p>İnsanlar ölmeyi bildikleri sürece özgürlük yok olmayacaktır. Hayatta beni mutsuz edebilecek en büyük şey, lükse alışmaktır.</p>
                            <footer class="blockquote-footer">Charlie Chaplin <cite title="Source Title">--</cite></footer>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
                <!--            FOOTER-->
</body>
</html>